* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*=col-] {
  text-align: center;
}

.col-1 {
  width: 6.25%;
}

.col-2 {
  width: 12.5%;
}

.col-3 {
  width: 18.75%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 31.25%;
}

.col-6 {
  width: 37.5%;
}

.col-7 {
  width: 43.75%;
}

.col-8 {
  width: 50%;
}

.col-9 {
  width: 56.25%;
}

.col-10 {
  width: 62.5%;
}

.col-11 {
  width: 68.75%;
}

.col-12 {
  width: 75%;
}

.col-13 {
  width: 81.25%;
}

.col-14 {
  width: 87.5%;
}

.col-15 {
  width: 93.75%;
}

.col-16 {
  width: 100%;
}

.row {
  display: flex;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  [class*=col-] {
    width: 100%;
  }
}
img {
  max-width: 10%;
  height: auto;
}

.sub-title {
  color: blue;
  margin: 0 20% 0 20%;
}

.title {
  margin: 0 20% 0 20%;
}

.section-title1 {
  color: white;
  background-color: aqua;
  margin: 1% 20% 1% 20%;
  text-align: center;
  background-color: burlywood;
}

.section-title2 {
  color: white;
  background-color: aqua;
  margin: 1% 20% 1% 20%;
  text-align: center;
  background-color: chocolate;
}

.section-title3 {
  color: white;
  background-color: aqua;
  margin: 1% 20% 1% 20%;
  text-align: center;
  background-color: darkcyan;
}

h2 {
  margin: 1%;
}

.section-contant {
  margin: 0% 20% 0% 20%;
}

h3 {
  margin-top: 5%;
}

.border1 {
  padding: 23%;
  border-bottom: 0.5rem solid rgb(212, 18, 18);
  border-color: red;
}

.border2 {
  padding: 23%;
  border-bottom: 0.5rem solid rgb(212, 18, 18);
  border-color: green;
}

.border3 {
  padding: 23%;
  border-bottom: 0.5rem solid rgb(212, 18, 18);
  border-color: blue;
}

.border4 {
  padding: 23%;
  border-bottom: 0.5rem solid rgb(212, 18, 18);
}

.ACHIEMENTS {
  text-align: start;
  margin-right: 2.5%;
}

.EXPERERIENCE1 {
  text-align: start;
  margin-right: 2.5%;
  margin-bottom: 10px;
  border-bottom: 0.5rem solid rgb(212, 18, 170);
  font-size: 20px;
  border-color: gold;
}

.EXPERERIENCE2 {
  text-align: start;
  margin-right: 2.5%;
  margin-bottom: 10px;
  border-bottom: 0.5rem solid rgb(212, 18, 170);
  font-size: 20px;
  border-color: blueviolet;
}

.EXPERERIENCE3 {
  text-align: start;
  margin-right: 2.5%;
  margin-bottom: 10px;
  border-bottom: 0.5rem solid rgb(212, 18, 170);
  font-size: 20px;
}

.EXPERERIENCE4 {
  text-align: start;
  margin-right: 2.5%;
  margin-bottom: 10px;
  border-bottom: 0.5rem solid rgb(212, 18, 170);
  font-size: 20px;
  border-color: red;
}

.contantItmes {
  display: flex;
  margin-bottom: 10px;
}

.startlast {
  text-align: start;
}

meter::-webkit-meter-bar {
  width: 100px;
  height: 10px;
  border-radius: 1px;
  background: none; /* Required to get rid of the default background property */
  background-color: whiteSmoke;
  box-shadow: 0 5px 5px -5px #333 inset;
}

meter::-webkit-meter-optimum-value {
  background: linear-gradient(214deg, rgb(195, 37, 103) 20%, rgb(82, 28, 181) 80%);
}

.lastsection {
  padding: 2%;
  background-color: #333;
  color: white;
  margin: 3% 15% 3% 15%;
}

.gry {
  color: gray;
}/*# sourceMappingURL=style.css.map */